*

!.gitignore
!.gitconfig

!.zshrc
!.zshenv
!.zfunc/
!.zfunc/**

!.config/
!.config/ghostty/
!.config/ghostty/**
!.config/nvim/
!.config/nvim/**
!.config/delta/
!.config/delta/**
!.config/bat/
!.config/bat/**
!.config/starship.toml
!.config/starship/
!.config/starship/**

!.scripts/
!.scripts/**

!.claude/
!.claude/settings.json
